{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="navbar-brand">
            <img src="{% static 'img/menu.png' %}" class="menu-icon" alt="Меню" height="48" width="48">
            <a href="#"><img src="{% static 'img/nasa.png' %}" height="48" width="224" alt="NASA"></a>
        </div>
        <ul class="navbar-menu d-flex align-items-center" style="list-style-type: none; margin: 0; padding: 0;">
            <li class="nav-item">
                <a class="navbar-text-1" href="#">Преимущества</a>
            </li>
            <li class="nav-item">
                <a class="navbar-text-1" href="#">Фотографии</a>
            </li>
        </ul>
        <div class="nav-enter">
            <a class="nav-enter-1" href="#">Вход</a>
        </div>
    </div>
</nav>
